altgraph==0.17
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
deprecation==2.1.0
eyeD3==0.9.5
ffmpeg-python==0.2.0
filetype==1.0.7
future==0.18.2
fuzzywuzzy==0.18.0
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
MarkupSafe==1.1.1
packaging==20.4
pafy==0.5.5
pefile==2019.4.18
Pillow==8.0.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydub==0.24.1
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
pytz==2020.4
pywin32-ctypes==0.2.0
requests==2.25.0
rsa==4.7
six==1.15.0
spotipy==2.16.1
ttkthemes==3.2.0
uritemplate==3.0.1
urllib3==1.26.2
youtube-dl==2020.11.26
